#### Range Functions
In the previous lesson, we learned how to use for-loops to iterate over the elements of a list.  To do this, we used a *dummy variable* like number to stand for an arbitrary element in a list.  Another way to iterate over the elements in a list is to iterate over the indices.  The *range* function allows us to do just this.

The range function returns a sequence of numbers.  The syntax for the range function is range(start, stop, step).  If the start and step parameters are omitted, then they are assumed to be start = 0 and step = 1.

##### Example 1
Simply executing the code below is not too illuminating.

In [1]:
range(0,4,1)

range(0, 4)

When we use the *list* type function, we get a better picture of what the range function actually produces.

In [2]:
list(range(0,4,1))

[0, 1, 2, 3]

The syntax for the range function is range(start, stop, step).  Notice that in this example, start = 0, stop = 4, and step = 1.  Now, try to see how these parameters produced $[0,1,2,3]$.

start = 0 told the range function to start at 0 and the output $[0,1,2,3]$ actually starts at 0.

stop = 4 told the range function to stop at 4-1 = 3 and the output $[0,1,2,3]$ actually stops at 3.

step = 1 told the range function to increase from one term to the next by adding 1.

$\Box$

##### Example 2

In [5]:
list(range(2,8,1))

[2, 3, 4, 5, 6, 7]

$\Box$

##### Example 3

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

$\Box$

##### Example 4
How many multiples of 3 are there between 0 and 99?

In [10]:
len(list(range(0,100,3)))

34

$\Box$

If the start parameter is omitted, it is assumed to be 0.  If the step parameter is omitted, it is assumed to be 1.

##### Example 5

In [8]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

$\Box$

##### Exercise 1
Use the list type function and the range function, as above, to produce a list of all multiples of 4 between 16 and 104 inclusive.  Write your code in the code block below.

In [1]:
list(range(16, 105, 4))

[16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104]

Range functions can count down as well.

##### Example 6

In [2]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

$\Box$

Range functions can also work with negative parameters.

##### Example 7

In [15]:
list(range(-10,-1,1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2]

$\Box$

##### Exercise 2
Use the list type function and the range function, as above, to produce the list given in Example 7, but in reversed order.  Write your code in the code block below.

Why do we need the range function?

In [4]:
list(range(-2,-11,-1))

[-2, -3, -4, -5, -6, -7, -8, -9, -10]

In [5]:
#Iterating over the elements
x = ['Jason', 'Drew', 'Oriana']
for word in x:
    print(word +' Smith')

Jason Smith
Drew Smith
Oriana Smith

In [6]:
#Iterating over the indices
for i in range(3):
    print(x[i]+' Smith')

Jason Smith
Drew Smith
Oriana Smith

### List Comprehensions

List comprehensions are a VERY convenient way to populate a list.

##### Example 8
Suppose that we have the list $[1,2,3,4,5]$ and we want the list of all squares $[1^2,2^2,3^2,4^2,5^2]=[1,4,9,16,25]$.

One way to accomplish this is the following code.

In [7]:
#Given list
x = [1,2,3,4,5]

squares = []
for number in x:
    squares.append(number**2) #number**2 means number*number in Python
squares

[1, 4, 9, 16, 25]

A list comprehension allows us to do this in one line.

In [8]:
squares = [number**2 for number in x]
squares

[1, 4, 9, 16, 25]

Syntax: $[$ f(x) for x in some_iterable $]$

$\Box$

##### Example 9

Recall the extract_odds function from the previous lesson.

In [5]:
def extract_odds(some_list):
    """
    Parameters
    ------------
    some_list: list of integers
    
    Returns
    ------------
    list containing all odd integers in some_list
    """
    new_list = []
    for number in some_list:
        #Check if number is odd.
        if number % 2 == 1:
            new_list.append(number)
    return new_list

In [7]:
extract_odds([1,2,3,4,5,6,7,8,9,10])

[1, 3, 5, 7, 9]

We can use list comprehensions to shorten the code for the extract_odds function.

In [8]:
def extract_odds_new(some_list):
    return [number for number in some_list if number%2 ==1]

In [9]:
extract_odds_new([1,2,3,4,5,6,7,8,9,10])

[1, 3, 5, 7, 9]

$\Box$

##### Exercise 3

Write code so that the following function performs the way that its docstring indicates.  Your function should have only two lines of code.

In [ ]:
def extract_evens_new(some_list):
    """
    Parameters
    ------------
    some_list: list of integers
    
    Returns
    ------------
    list containing all even integers in some_list
    """

In [ ]:
#Run this block to test your code
import numpy as np

if not np.allclose(extract_evens_new([1,2,3,4,5]),[2,4],atol=1e-10):
    print("Something is wrong with your code.")
elif not np.allclose(extract_evens_new([4,17,23,34,10,11,12]),[4,34,10,12],atol=1e-10):
    print("Something is wrong with your code.")
else:
    print("All tests passed.")

The syntax for a list comprehension is

$[$expression(element) for element in some_list if condition$]$

##### Example 9
Suppose that we have the following list of unordered lists.

In [10]:
X = [[2,3,1], [5,2,7], [8,3,0], [2,7,1], [10,20,30]]
X

[[2, 3, 1], [5, 2, 7], [8, 3, 0], [2, 7, 1], [10, 20, 30]]

Now, suppose that we want all of the lists in X to be sorted.  We can accomplish this with a list comprehension.

In [13]:
Y = [sorted(x) for x in X]
Y

[[1, 2, 3], [2, 5, 7], [0, 3, 8], [1, 2, 7], [10, 20, 30]]

$\Box$

##### Exercise 4

In [14]:
X = [[3,5,7,2], [1,2], [3,7,9,12], [23,5,2,5,7,8,9,10], [1,3,5,7,9,11,13,15,17,19,21], [9,2,5,1],[3,5,7,2,9,8]]
X

[[3, 5, 7, 2],
 [1, 2],
 [3, 7, 9, 12],
 [23, 5, 2, 5, 7, 8, 9, 10],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21],
 [9, 2, 5, 1],
 [3, 5, 7, 2, 9, 8]]

Write a list comprehension to find the list that contains the length of each of the lists in X.

#### Mathematical Functions

In Math, a function is a rule $f(x)$.  The user of a function can decide what the inputs are going to be. 

Common notation for a function $f(x)$ with input list $X$ and output list $Y$ is $f: X\rightarrow Y$.

##### Example 10

Most students are familiar with the mathematical function $f(x)=x^2$ whose graph is a parabola opening upwards with vertex at $x=0$.  If the inputs to $f(x)=x^2$ are chosen to be $[1,2,3,4,5]$, then the outputs will be $[1^2,2^2,3^2,4^2,5^2]=[1,4,9,16,25]$.

We can create the output Y of $f(x)$ with a list comprehension.

In [1]:
Y = [x**2 for x in [1,2,3,4,5]]
Y

[1, 4, 9, 16, 25]

$\Box$

##### Example 11
In Example 4 we found that there are $34$ multiples of $3$ from $0$ to $99$.  Another way to see this is to count the number of output values for the Mathematical function $f(x)=3x$ with input $X = [0,1,2,3,...,31,32,33]$.

In [3]:
Y = [3*x for x in range(34)]
Y

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [4]:
len(Y)

34

$\Box$

In computer science and data science, a function is often called a *mapping*.

##### Example 12
Later in the course we will be working with a data structure called a *data frame*.  For now, you can just think of a data frame as the Python version of an excel spreadsheet.

In many cases, we will want to rename certain columns of a data frame.  To do this we will use a built-in function for data frames.  To use this built in *rename* function, we have to pass, as input to the function, data structures that contain lists of the new names.  In other words, we want to create a list of new names or take a list of strings and map them to another list of strings.

Suppose that we have a data set with 9 columns and we want to rename them C1, C2, ... ,C9.

In [2]:
new_column_names = ['C'+str(x) for x in range(1,10)]
new_column_names

['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9']

$\Box$

##### Exercise 5
Write a list comprehension that maps the elements in old_column_names below to a list (called new_column_names) that contains the strings in old_column_names converted to lower case.  Additionally, replace all spaces with the underscore character '_'.

In [3]:
old_column_names = ['Location','Address','Square Footage','Number of Owners','Number of Floors', 'Price']

In [5]:
new_column_names = []
new_column_names

[]

##### Example 13
A nice trick for creating a list of strings is the given below.

In [6]:
'col1 col2 col3 col4 col5'.split(' ')

['col1', 'col2', 'col3', 'col4', 'col5']

$\Box$