#### Tuples

A *2-tuple* is an ordered pair like $(x,y)$.  A *3-tuple* is an ordered triple $(x,y,z)$.  *4-tuples*, *5-tuples*, etc are defined analagously.

Tuples are a lot like lists, except that they are *immutable*.  This means that the elements in a tuple cannot be changed.  Lists are *mutable* meaning that the elements in a list can be changed.

##### Example 1

In [1]:
#A tuple
tup = (2,'word')
tup

(2, 'word')

Tuples can be indexed in exactly the same way as lists.

In [2]:
tup[0]

2

In [3]:
tup[1]

'word'

Since tuples are immutable, we cannot reassign the values of tup$[0]$ or tup$[1]$.

In [4]:
tup[1]=3

TypeError: 'tuple' object does not support item assignment

$\Box$

Even though tuples themselves are immutable, it is possible to have a tuple contain mutable elements.

##### Example 2

In [1]:
tup = ([1,2],['a','b'])
tup

([1, 2], ['a', 'b'])

In [2]:
tup[0][1]=3
tup

([1, 3], ['a', 'b'])

In [3]:
tup[1].append('e')
tup

([1, 3], ['a', 'b', 'e'])

$\Box$

You can add two tuples to make a new tuple, just like with lists.

##### Example 3

In [1]:
tup1 = (1,2,3)
tup1

(1, 2, 3)

In [3]:
tup2 = ('a','b','c')
tup2

('a', 'b', 'c')

In [4]:
tup1 + tup2

(1, 2, 3, 'a', 'b', 'c')

$\Box$

You can convert a list to a tuple using the *tuple* type function.

##### Example 4

In [7]:
x = [1,2,5,9]
type(x)

list

In [11]:
y = tuple(x)
y

(1, 2, 5, 9)

In [12]:
type(y)

tuple

In [13]:
type(x)

list

$\Box$

Tuples can be *unpacked*.

##### Example 5

In [17]:
x,y,z = (1,2,3)

In [18]:
x

1

In [19]:
y

2

In [20]:
z

3

$\Box$

##### Exercise 1

Write code so that the following function performs the way that its docstring indicates.  

Examples: sum_terms($[(1,2),(3,4),(5,6)]$) should output (9,12).

sum_terms($[(1,$'$a$'$),(2,$'$b$'$),(3,$'$c$'$)]$) should output (6,'abc').

In [64]:
def sum_terms(list_of_two_tuples):
    """
    Parameters
    ------------
    list_of_two_tuples: list whose elements are 2-tuples of integers.
    
    Returns
    ------------
    2-tuple (x,y) where x is the sum of all 0 indexed elements and y is sum of all 1 indexed elements
    """

In [ ]:
#Run this block to test your code
import numpy as np

if not np.allclose(sum_terms([(1,5),(2,3),(1,1),(10,20)]),(14,29),atol=1e-10):
    print("Something is wrong with your code.")
elif not np.allclose(sum_terms([(1,5),(2,3),(3,1),(4,20)]),(10,29),atol=1e-10):
    print("Something is wrong with your code.")
else:
    print("All tests passed.")

##### Example 6

In [5]:
grades = [('Brad Pitt', 'B+'), ('Val Klimer', 'A'), ('Keanu Reeves', 'C') ]

for x,y in grades:
    print(f'{x} gets a grade of {y} for his acting.')

Brad Pitt gets a grade of B+ for his acting.
Val Klimer gets a grade of A for his acting.
Keanu Reeves gets a grade of C for his acting.

$\Box$

The *count* method returns the number of instances of an element in a tuple.

##### Example 7

In [23]:
tup = ('a','b','c','b','b')
tup.count('b')

3

In [24]:
tup.count(5)

0

$\Box$

#### The Zip Function

The *Zip* function takes two (or more) lists (or tuples) and creates a list of tuples with the first two elements (of each list) in one tuple, the second two elements in the second tuple, etc.

##### Example 8

In [6]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [7]:
list2 = ['a','b','c','d','e']
list2

['a', 'b', 'c', 'd', 'e']

When list1 and list2 are zipped together, we get an address of where this list of tuples lives in computer memory.

In [8]:
zipped = zip(list1,list2)
zipped

To see what we actually have in memory, use the list type function.

In [9]:
list(zipped)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

$\Box$

Three lists can be zipped together as well.

##### Example 9

In [10]:
list2

['a', 'b', 'c', 'd', 'e']

In [36]:
list3 = [x.upper() for x in list2]
list3

['A', 'B', 'C', 'D', 'E']

In [41]:
newly_zipped = list(zip(list2, list1, list3))
newly_zipped

[('a', 0, 'A'), ('b', 1, 'B'), ('c', 2, 'C'), ('d', 3, 'D'), ('e', 4, 'E')]

$\Box$

The *enumerate* function is a special case of zip.

##### Example 10

In [57]:
B = ['bob', 'steve', 'tim']
enumerate(B)

In [58]:
list(enumerate(B))

[(0, 'bob'), (1, 'steve'), (2, 'tim')]

In [59]:
list(zip(range(3),B))

[(0, 'bob'), (1, 'steve'), (2, 'tim')]

$\Box$

##### Exercise 2

Write code so that the following function performs the way that its docstring indicates.  

Examples: indices($[1,2,1,2,3,1]$, 1) should return (0,2,5).

indices($[$'all', 'tall', 'ball', 'small', 'all'$]$, 'all') should return (0,4).

In [4]:
def indices(some_list, element):
    """
    Parameters
    ------------
    some_list: list
    
    element: an element in the list
    
    Returns
    ------------
    Tuple containing all indices (in order) for which element appears in some_list.
    """

In [ ]:
#Run this block to test your code
import numpy as np

if not np.allclose(indices([2,5,7,3,4,2,2,4,2],2),(0,5,6,8),atol=1e-10):
    print("Something is wrong with your code.")
elif not np.allclose(indices(['a','s', 'w','s','s'],'s'),(1,3,4),atol=1e-10):
    print("Something is wrong with your code.")
else:
    print("All tests passed.")